body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: honeydew;
}

h1 {
  font-size: 40px;
  margin: 15px;
  text-align: center;
  background: yellowgreen;
  color: floralwhite;
}

p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}